<?php
/*
 * Ufhs_Signupatcheckout
 * @category   Ufhs
 * @package    Ufhs_Signupatcheckout
 * @copyright  Copyright (c) 2017 Ufhs
 * @license    https://bitbucket.org/underfloorheating/sign_up_at_checkout/blob/master/LICENSE.md
 * @version    1.0.1
 */
?>
<?php if ($this->isEnabled()): ?>
    <li class="control">
		<div id="onepage-mailing-list-sign-up">
		    <h3>Sign up to our mailing list</h3>
		    <p>We'd like to keep you up to date with company news, info about our latest products, let you know when our next sale is on or if you can benefit from any discounts we have running.</p>
		    <p>Would you like us to send you information about the latest offers and discounts?</p>
		    <label class="radio-label"><input type="radio" name="sign_up_at_checkout" value="1" class="radio"> Yes</label>
		    <label class="radio-label"><input type="radio" name="sign_up_at_checkout" value="0" class="radio" checked="checked"> No</label>
	    </div>
    </li>
<?php endif; ?>